[Unit]
Description=RPI RGB Service

[Service]
Type=simple
ExecStart=/home/pi/steam-drone-control-examples/rpi-rgb-socket.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
